---
layout: page
title: dev
permalink: /dev/
categories: development
tags: development
order: 2
open: 1
---
<ul class="post-list">
  {% for post in site.categories.development %}
  <li class="post-list-item">
    <a href="{{ post.url }}">
      <span class="post-title">{{ post.title }}</span>
      <div class="post-tags">
        {% for tag in post.tags %}
        <span class="post-tag {{ tag }}">{{ tag }}</span>
        {% endfor %}
      </div>
      <div class="post-date">{{ post.date | date: "%B %d, %Y"}}</div>
    </a>
  </li>
  {% endfor %}
</ul>
